// We maken een scss variabele
$color_background: rgb(0, 255, 255);
$size: 4em;
$square-size: 100px;

h1 {
  color: $color_background;
  font-size: $size;
}

#test {
  width: 200px;
  height: 200px;
  border: 20px solid darken($color_background, 5%);
  background-color: $color_background;
}

img {
  width: $square-size;
  height: $square-size;
}


.container, .container-fluid {
  border: 2px solid lightblue;
}



