// We maken een scss variabele
$color_background: rgb(0, 255, 0);
$size: 4em;

h1 {
  color: $color_background;
  font-size: $size;
}

#test {
  width: 200px;
  height: 200px;
  border: 20px solid darken($color_background, 5%);
  background-color: $color_background;
}